.App {
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  width: 100%;
}

.App-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  /* background: rgb(33,36,50); */
}
.body-text {
  color: white;
}
.wrapper-header {
  width: 50%;
  color: white;
}
.wrapper-about {
  padding: 0;
  color: white;
  width: 100%;
}
.about-bio {
  background-color: #235CB0;
  opacity: .9;
  border-radius: 3px;
}
.about-etc {
  margin-top: 1rem;
  opacity: .8;
  font-size: calc(4px + 2vmin);
  padding: 5px;
}
.about-etc-col {
  opacity: 1;
  background-color: #131938;
  margin: 5px;
  border-radius: 2px;
  border-bottom: #235CB0 7px solid;
}

.wrapper-education {
  padding: 0;
  width: 100%;
}
.education-content {
  background-color: #131938;
  opacity: .9;
  border-radius: 2px;
  color: black;
  padding: 1rem;
  font: 24px/32px 'librebaskerville-italic', serif;
}
.education-row {
  margin: 2px;
  margin-top: 5px;
  padding: 2px;
  border-radius: 2px;
  background-color: white;
}
.berkeley-logo {

}
.education-grad {

}
.course {
  clear: both;
}
.leftalign {
  float:left;
}
.rightalign {
  float: right;
}
.italic {
  font-style: italic;
}
.center-text {
  text-align: center;
}
.wrapper-experience {
  padding: 0;
  color: white;
}
footer {
  background-color: #1a1c28;
  color: #FFFFFF;
  width: 100%;
  height: 75px;
  font-size: 0.9em;
}
.wrapper-footer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lol {
  width: 100%;
}
.copyright {
  font-size: 0.8em;
  letter-spacing: 0.5px;
}
.particles {
  height: 100vh;
  display:block;
  background: rgb(33,36,50);
  position: fixed;
  width: 100%;
  z-index: -1;
}
.text-center {
  text-align: center;
  display: inline-block;
}
.text-header {
  font: calc(55px + 2vmin) 'opensans-bold', sans-serif;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .8);
}
img {
  border-radius: 3px;
}
.profpic {
  height: auto;
  max-width: 100%;
  position: relative;
  width: auto;
}
p.summary {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .8);
  color: white;
}
.underline {
  text-decoration: underline;
}
.text-highlight {
  color: #4d94ff;
}
.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.links-item {
  margin: 7.5px;
  display: inline-block;
}
a.link {
  padding: 5px 10px 5px 10px;
  border-radius: 50%;
  border: 1px solid white;
  background: #4d94ff;
  text-decoration: none;
  color: white;
  transition: 0.3s;
  /* box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.8), 0 6px 15px 0 rgba(0, 0, 0, 0.79); */
}
a.link:hover {
  color: #4d94ff;
  background: rgb(33,36,50);
  border: 1px solid black;
}
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  opacity: 0.9;
  visibility: hidden;
  z-index: 5;
}
.menu ul {
  text-decoration: none;
}
.menu li {
  list-style-type: none;
}
.menu.open {
  visibility: visible;
}
.menu-square {
  height: 50vh;
  width: 50%;
  background-color: #131938;
  border-style: solid;
  border-color: white;
  font-size: calc(25px + 2vmin);
  color: #fff;
  transition: all .75s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-text {
  display: block;
  margin-left: 2px;
  letter-spacing: -2px;
  word-break: break-all;
}
.menu-square:hover {
  filter: brightness(150%);
}
.menu-1 {
  float: left;
  border-width: 0px 1px 1px 0px;
  transform: translate3d(-100%, -100%, 0);
}
.menu-2 {
  float: right;
  border-width: 0px 0px 1px 1px;
  transform: translate3d(100%, -100%, 0);
}
.menu-3 {
  float: left;
  border-width: 1px 1px 0px 0px;
  transform: translate3d(-100%, 100%, 0);
}
.menu-4 {
  float: right;
  border-width: 1px 0px 0px 1px;
  transform: translate3d(100%, 100%, 0);
}
.menu-square.open {
  transform: translate3d(0, 0, 0);
}
.menu-square a {
  color: black;
}
.menu-square.selected {
  background-color: #3c75c9;
}
.menu-square.selected:hover {
  filter: brightness(150%);
}
.menu-btn {
  position: fixed;
  background: transparent;
  border: none;
  padding: 0;
  z-index: 6;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all .75s ease-out;
}
.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn:hover {
  opacity: 60%;
}
.menu-btn:focus {
  outline: none;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all .75s ease-out;
}

.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  opacity: 100%;
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
  opacity: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .menu-text {
    display: none;
  }
  footer {
    height: 10%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mobile {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .mobile {
    display: none;
  }
  .rightalign {
    float: none;
    clear: both;
  }
  .coursework {
    width: 100%;
    padding-inline-start: 20px;
    align-content: center;
  }
  .about-bio {
    margin-top: 1rem;
  }
  .text-header {
    margin: auto;
    font-size: calc(30px + 2vmin);
  }
  .course {
    list-style-type: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .about-bio {
    margin-top: 0px;
  }
  .wrapper-education {
    padding: 4rem;
    width: 90%;
  }
  .wrapper-about {
    padding: 4rem;
  }
  .wrapper-experience {
    padding: 4rem;
  }
  .rightalign {
    float: right;
  }
  .coursework {
    width: 90%;
  }
  .course {
    list-style-type: square;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mobile {
    display: initial;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}