.App {
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  width: 100%;
}

.App-header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.App-content {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(8px + 2vmin);
}
span.highlight {
  background-color: var(--accent);
}
.body-text {
  color: var(--text-white);
}
.wrapper-header {
  width: 50%;
  color: var(--text-white);
}
.wrapper-about {
  padding: 0;
  color: var(--text-white);
  width: 100%;
}
.about-bio {
  background-color: var(--secondary2);
  opacity: 0.9;
  border-radius: 3px;
  padding: 1rem;
}
.about-etc {
  margin-top: 1.5rem;
  opacity: 0.9;
  font-size: calc(6px + 2vmin);
}
.about-etc-col {
  background-color: var(--base);
  margin: .5rem;
  padding: 1rem;
  border-radius: 2px;
  border-bottom: var(--secondary2) 7px solid;
}

.wrapper-education {
  padding: 0;
  width: 100%;
}
.education-content {
  background-color: var(--secondary1);
  opacity: 0.9;
  border-radius: 2px;
  color: var(--text-white);
  padding: 1rem;
}
.education-row {
  margin: 20px;
  padding: 2px;
  border-radius: 2px;
  background-color: var(--base);
  border-bottom: var(--secondary2) 7px solid;
}
ul.coursework {
  margin-top: 1rem;
}
.course {
  clear: both;
}
.leftalign {
  float: left;
}
.rightalign {
  float: right;
}
.italic {
  font-style: italic;
}
.center-text {
  text-align: center;
}
.wrapper-experience {
  padding: 0;
  width: 100%;
  color: var(--text-white);
}
.experience-content {
  opacity: 0.9;
  background-color: var(--secondary1);
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  height: 400px;
  margin: 1rem;
  perspective: 5000px; /* Remove this if you don't want the 3D effect */
  cursor: pointer;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.card-text-front {
  font-size: 1.5rem;
  font-style: italic;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */
.flip-card.active .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}
.content-shadow {
    box-shadow: 0 1px 1px rgba(0,0,0,0.08), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.16), 
                0 8px 8px rgba(0,0,0,0.20);
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: var(--base);
  transition-duration: 1s;
  border: 1px solid var(--text-white);
}
.flip-card-front:hover {
  background-color: var(--secondary2);
}
/* Style the back side */
.flip-card-back {
  background-color: var(--bg-white);
  font-size: 1.25rem;
  color: var(--text-black);
  transform: rotateY(180deg);
  padding: 1.5rem;
  border: 1px solid var(--text-black);
}
.card-label {
  position: absolute;
  padding: 5px 10px;
  top: 10px;
  left: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: var(--accent);
}
footer {
  background-color: var(--bg-footer);
  color: var(--text-white);
  width: 100%;
  height: 75px;
  font-size: 0.9em;
}
.wrapper-footer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lol {
  width: 100%;
}
.copyright {
  font-size: 0.8em;
  letter-spacing: 0.5px;
}
.particles {
  height: 100vh;
  display: block;
  background: var(--bg-main);
  position: fixed;
  width: 100%;
  z-index: -1;
}
.text-center {
  text-align: center;
  display: inline-block;
}
.text-header {
  font-size: calc(55px + 2vmin);
  color: var(--text-white);
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}
img {
  border-radius: 3px;
}
.profpic {
  height: auto;
  max-width: 100%;
  position: relative;
  width: auto;
}
p.summary {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
  color: var(--text-white);
}
.underline {
  text-decoration: underline;
}
.text-highlight {
  color: var(--base);
}
.text-accent {
  color: var(--accent);
}
a.text-accent:hover {
  color: var(--secondary2);
}
.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.links-item {
  margin: 7.5px;
  display: inline-block;
}
span.link {
  display: inline-block;
  padding: 0;
  font-size: 1.5rem;
  line-height: 45px;
  color: var(--text-white);
  background-color: var(--base);
  border-radius: 45px;
  position: relative;
  height: 45px;
  width: 45px;
  border: 1px solid var(--text-white);
  transition: 0.3s;
}
a.link {
  text-decoration: none;
}
span.link:hover {
  color: var(--secondary2);
  background: var(--secondary1);
  border: 1px solid var(--secondary1);
}
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  opacity: 0.9;
  visibility: hidden;
  z-index: 5;
}
.menu ul {
  text-decoration: none;
}
.menu li {
  list-style-type: none;
}
.menu.open {
  visibility: visible;
}
.menu-square {
  height: 50vh;
  width: 50%;
  background-color: var(--base);
  border-style: solid;
  border-color: var(--text-white);
  font-size: calc(25px + 2vmin);
  color: var(--text-white);
  transition: all 0.75s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-text {
  display: block;
  margin-left: 2px;
  letter-spacing: -2px;
  word-break: break-all;
}
.menu-square:hover {
  background-color: var(--accent);
}
.menu-1 {
  float: left;
  border-width: 0px 1px 1px 0px;
  transform: translate3d(-100%, -100%, 0);
}
.menu-2 {
  float: right;
  border-width: 0px 0px 1px 1px;
  transform: translate3d(100%, -100%, 0);
}
.menu-3 {
  float: left;
  border-width: 1px 1px 0px 0px;
  transform: translate3d(-100%, 100%, 0);
}
.menu-4 {
  float: right;
  border-width: 1px 0px 0px 1px;
  transform: translate3d(100%, 100%, 0);
}
.menu-square.open {
  transform: translate3d(0, 0, 0);
}
.menu-square a {
  color: var(--text-black);
}
.menu-square.selected {
  background-color: var(--secondary2);
}
.menu-square.selected:hover {
  background-color: var(--accent);
}
.menu-btn {
  position: fixed;
  background: var(--accent);
  height: 48px;
  width: 48px;
  border: none;
  padding: 0;
  z-index: 6;
  right: 35px;
  top: 35px;
  cursor: pointer;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
p.paragraph {
  text-align: left;
}
.menu-btn.close {
  transform: rotate(180deg);
  background: var(--bg-main);
}
.menu-btn:hover {
  filter: brightness(125%);
}
.menu-btn:focus {
  outline: none;
}
.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: var(--text-white);
  transition: all 0.5s ease-out;
}
.menu-btn .btn-line:nth-child(3) {
  margin: 0;
}
.menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  opacity: 1;
}
.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
  opacity: 1;
}
.experience-filter {
  padding: 1rem;
}
.switch-button {
  position: relative;
  display: inline-block;
  width: 105px;
  height: 34px;
  margin-right: 1rem;
}
.switch-button input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.label {
  font-size: 0.75rem;
  margin-top: 7px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg-white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: var(--accent);
}

input:focus + .slider {
  box-shadow: 0 0 5px var(--accent);
}

input:checked + .slider:before {
  -webkit-transform: translateX(71px);
  -ms-transform: translateX(71px);
  transform: translateX(71px);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .menu-text {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mobile {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .mobile {
    display: none;
  }
  .rightalign {
    float: none;
    clear: both;
  }
  .coursework {
    width: 100%;
    padding-inline-start: 20px;
    padding-inline-end: 20px; 
    align-content: center;
  }
  .about-bio {
    margin-top: 1rem;
  }
  .text-header {
    margin: auto;
    font-size: calc(50px + 2vmin);
  }
  .course {
    list-style-type: none;
    border-top: var(--secondary2) 2px solid;
  }
  .flip-card {
    width: 100%;
  }
  .menu-square {
    transition: none;
  }
  .menu-btn {
    transition: none;
  }
  .menu-btn .btn-line {
    transition: none;
  }
  .menu-btn:hover {
    opacity: 100%;
  }
  footer {
    height: 10%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .about-bio {
    margin-top: 0px;
  }
  .wrapper-education {
    padding: 4rem;
    width: 90%;
  }
  .wrapper-about {
    padding: 4rem;
  }
  .wrapper-experience {
    padding: 4rem;
  }
  .rightalign {
    float: right;
  }
  .coursework {
    width: 90%;
  }
  .course {
    list-style-type: square;
  }
  .flip-card {
    width: 500px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mobile {
    display: initial;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
