body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --base: #007EA7;
  --secondary1:#003459;
  --secondary2: #00A8E8;
  --bg-main: #00171F;
  --bg-footer: #303538;
  --accent: #FF754F;
  --text-white: white;
  --text-black: black;
  --bg-white: hsl(0, 0%, 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}